* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #202124;
    box-sizing: border-box;
    vertical-align: middle;
    color: #f3f3f3;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;

}

header {
    background-color: rgb(42, 42, 48);
    min-height: 3rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 3%;
}


.slide-in-left {
    animation: slide-in-left 0.25s ease-out both;
}
.slide-in-right {
    animation: slide-in-right 0.25s ease-in both;
}


@keyframes slide-in-left {
    from {
        transform: translate(0%);
    }
    
    to {
        transform: translate(-100%);
    }
}

@keyframes slide-in-right {
    from {
        transform: translate(-100%);
    }
    
    to {
        transform: translate(0%);
    }
} 




#menu-nav {
    width: 8rem;
    position: absolute;
    background-color: rgb(42, 42, 48);
    transform: translate(-100%);
    border-radius: 0 25px 25px 0;
    z-index: 0;
}


a {
    text-decoration: none;
    color: #f3f3f3;
    display: block;
}


#menu-nav > .menu-item {
    padding: 1rem;
    width: 6rem;
    border-radius: 0 25px 25px 0;
}

#menu-nav > .menu-item:hover {
    background-color: rgb(50, 50, 58);
}

#pup-logo {
    width: 2.75rem;
}

main {
    padding: 0;
    margin: auto;
    text-align: center;
    /* width: 500px; */
}

#audio-progress {
    width: 100vw;
    height: 1.25rem;
    border: none;
}

#audio-progress::-webkit-progress-bar {
    background: #202124;
}
#audio-progress::-webkit-progress-value {
    background: #cbcbcc;
    transition: width 0.5s ease;
}

main > #hymn-title {
    padding: 2rem;
}

main > #title-lyric-break {
    max-width: 450px;
    margin: auto;
}

main > #lyrics {
    text-align: center;
    line-height: 300%;
    height: 60vh;
    margin: 0 0 2rem;
    max-width: 450px;
    /* max-width: 500px; */

}

main > #audio-controls {
    display: flex;
    background-color: #cbcbcc;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    width: 275px;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%);
}

main > .slide-in {
    animation: 0.25s ease-in slide-in both;
}

main > .slide-out {
    animation: 0.25s ease-out slide-out both;
}

@keyframes slide-in {
    from {
        transform: translate(-50%, 175%);
    }
    to {
        transform: translate(-50%, -50%);
    }
}

@keyframes slide-out {
    from {
        transform: translate(-50%, -50%);
    }
    to {
        transform: translate(-50%, 175%);
    }
}



button {
    padding: 6px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    display: grid;
}

header > button {
    background-color: rgb(42, 42, 48);
    color: #f3f3f3;
}

header > button:hover {
    background-color: rgb(50, 50, 58);
}

header > button > span {
    grid-column: 1;
    grid-row: 1;
}

main > #audio-controls > #play-button,
main > #audio-controls > #volume > #mute-button {
    background-color: #cbcbcc;
}

main > #audio-controls > #play-button:hover,
main > #audio-controls > #volume > #mute-button:hover {
    background-color: rgba(172, 172, 172, 0.5);
}

main > #audio-controls > #play-button > #play-icon,
main > #audio-controls > #play-button > #pause-icon,
main > #audio-controls > #play-button > #replay-icon,
main > #audio-controls > #volume > #mute-button > #unmute-icon,
main > #audio-controls > #volume > #mute-button > #mute-icon {
    grid-column: 1;
    grid-row: 1;
    visibility: hidden;
    color: #202124;
}


main > #audio-controls > #volume {
    margin-left: auto;
    display: flex;
}

main > #audio-controls > #volume > #volume-slider {
    accent-color: #202124;
    cursor: pointer;
}