/* :root {
    --header-bg-color: #E8E2E2;
    --header-hover-color: #d4cdcd80;
    --body-bg-color: #F5F5F5;
    --contrast-color: #3d3d3d;
    --contrast-hover-color: #505050;
} */
:root {
    --header-bg-color: #2a2a30;
    --header-hover-color: #32323a;
    --body-bg-color: #202124;
    --contrast-color: #cbcbcc;
    --contrast-hover-color: #acacac80;
}


* {
    margin: 0;
    padding: 0;
}


body {
    background-color: var(--body-bg-color);
    box-sizing: border-box;
    vertical-align: middle;
    color: var(--contrast-color);
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;

}

header {
    background-color: var(--header-bg-color);
    min-height: 3rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 3%;
}


.slide-in-left {
    animation: slide-in-left 0.25s ease-out both;
}
.slide-in-right {
    animation: slide-in-right 0.25s ease-in both;
}


@keyframes slide-in-left {
    from {
        transform: translate(0%);
    }
    
    to {
        transform: translate(-100%);
    }
}

@keyframes slide-in-right {
    from {
        transform: translate(-100%);
    }
    
    to {
        transform: translate(0%);
    }
} 




#menu-nav {
    width: 8rem;
    position: absolute;
    background-color: var(--header-bg-color);
    transform: translate(-100%);
    border-radius: 0 25px 25px 0;
    z-index: 0;
}



#menu-nav > .menu-item {
    padding: 1rem 1.5rem 1rem 0.5rem;
    width: 6rem;
    border-radius: 0 25px 25px 0;
    text-align: center;
}

#menu-nav > #hotkey-title:hover ~ .hotkeys,
#menu-nav > .hotkeys:hover {
    background-color: var(--header-hover-color);
}

#pup-logo {
    width: 2.75rem;
}

main {
    margin: auto;
    text-align: center;
    /* width: 500px; */
}

#audio-progress {
    width: 100vw;
    height: 1.25rem;
    border: none;
}

#audio-progress::-webkit-progress-bar {
    background: var(--body-color);
}
#audio-progress::-webkit-progress-value {
    background: var(--contrast-color);
    transition: width 0.5s ease;
}

main > #hymn-title {
    padding: 2rem;
}

main > #title-lyric-break {
    max-width: 450px;
    margin: auto;
}

main > #lyrics {
    text-align: center;
    line-height: 300%;
    height: 60vh;
    margin: 0 0 2rem;
    max-width: 450px;
    /* max-width: 500px; */

}

main > #audio-controls {
    display: flex;
    background-color: var(--contrast-color);
    border-radius: 50px;
    padding: 0.5rem 1rem;
    width: 275px;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%);
}

main > .slide-in {
    animation: 0.25s ease-in slide-in both;
}

main > .slide-out {
    animation: 0.25s ease-out slide-out both;
}

@keyframes slide-in {
    from {
        transform: translate(-50%, 175%);
    }
    to {
        transform: translate(-50%, -50%);
    }
}

@keyframes slide-out {
    from {
        transform: translate(-50%, -50%);
    }
    to {
        transform: translate(-50%, 175%);
    }
}



button {
    padding: 6px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    display: grid;
}

header > button {
    background-color: var(--header-bg-color);
    color: var(--contrast-color);
}

header > button:hover {
    background-color: var(--header-hover-color);
}

header > button > span {
    grid-column: 1;
    grid-row: 1;
}

main > #audio-controls > #play-button,
main > #audio-controls > #volume > #mute-button {
    background-color: var(--contrast-color);
}

main > #audio-controls > #play-button:hover,
main > #audio-controls > #volume > #mute-button:hover {
    background-color: var(--contrast-hover-color);
}

main > #audio-controls > #play-button > #play-icon,
main > #audio-controls > #play-button > #pause-icon,
main > #audio-controls > #play-button > #replay-icon,
main > #audio-controls > #volume > #mute-button > #unmute-icon,
main > #audio-controls > #volume > #mute-button > #mute-icon {
    grid-column: 1;
    grid-row: 1;
    visibility: hidden;
    color: var(--body-bg-color);
}


main > #audio-controls > #volume {
    margin-left: auto;
    display: flex;
}

main > #audio-controls > #volume > #volume-slider {
    accent-color: var(--body-bg-color);
    cursor: pointer;
}